{% extends "layout.html" %}

{% block title %}{{ bike }}{% endblock %}

{% block content %}
    <div class="row">
        {%  for order in preorders %}
            <div class="small-6 columns">
                <div class="callout">
                    <h5>Name: {{ order.user_info.name }}</h5>
                    <ul>

                        <li>Email: {{ order.user_info.email }}</li>
                        <li>Phone: {{ order.user_info.phone }}</li>
                        <li>Billing Address: {{ order.address}} {{ order.address.city }} {{ order.address.state }} {{ order.address.zip }}</li>
                        <li>Credit Card Number: {{ order.payment.number }}</li>
                        <li>    Expiration: {{ order.payment.expiration }}</li>
                        <li>    CCV number: {{ order.payment.ccv_number }}</li>
                        <li><a href="{% url 'bikes:users_orders' pk=order.user_info.pk %}">See Costomer account</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}