label {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.bike_image {
    width: 150px;
    height:150px;
}

.bike_image_display {
    width: 400px;
    height: 400px;
}

.dropdownform {
    display: none;
}

.fa-navbar-cart {
    font-size: 24px;
    vertical-align: middle;
}

.form_seperator {
    padding-top: 30px;
    border-top: dashed forestgreen;
}

.inserted-form {
    border: 1px inset;
    margin-left: 10%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eaf2ee;
}


.message_page {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: dashed forestgreen;
}

.shopping-cart-chart {
    background-color: #fafffa;
    padding-top: 20px;
    border:1px outset rgba(206, 206, 227, 0.45);
}

.submit_seperator {
    border-top: solid 1px #791b0c;
    padding-top: 20px;
}

.top-bar {
    margin-bottom: 1rem;
}



#id_expiration_month {
    display: inline-flex;
    max-width: 40%;
}

#id_expiration_year {
    display: inline-flex;
    max-width: 30%;
}

#id_ccv_number {
    display: inline-flex;
    max-width: 25%;
}

#id_address {
    max-width: 90%;
}

#id_state {
    display: inline-flex;
    max-width: 40%;
    margin-right: 5%;
}

#id_city {
    display: inline-flex;
    max-width: 40%;
    margin-right: 5%;
}

#id_zip {
    display: inline;
    max-width: 20%;
}

.button {
    display: block;
}



/* css for diffrent screen sizes */
@media screen and (max-width: 600px) {
    .my-columns {
        min-width: 100%;
    }
}
