{% extends "layout.html" %}

{% load bikes_extras %}

{% block title %}{{ order.name }} orders{% endblock %}

{% block submenu %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3>{{ order }}</h3>
        <p>Phone: {{ order.phone }}</p>
        <p>Email: {{ order.email }}</p>
        <p>Total charged:  {{ order.total_charge }}</p>
        <button class="dropdownform-button button">Message {{ order.name }}</button>
        <div class="inserted-form dropdownform" style="display: none">
        <h3>Send a message to {{ order.name }}:</h3>
        <form action="{% url 'bikes:admin_message' %}" method="POST" class="message-form">
            <textarea class="message" id="id_message" name="message" placeholder="send message to {{ order }}" required></textarea>
            <input type="hidden" name="pk" class="pk" value="order.pk">
            {% csrf_token %}
            <input type="submit" class="button" value="send">
        </form>
    </div>
    </div>
    <div class="row">
        {% if reservations %}

            <h3 class="mr-60">Reserved Bikes:</h3>
            {% get_status 'reserved' as status %}
            {% customers reservations as bike_orders %}
            {% include 'bikes/admin_user_template.html' %}

        {% endif %}
        {% if shipping %}

            <h3 class="mr-60">Bikes Ready to ship:</h3>
            {% get_status 'shipping' as status %}
            {% customers shipping as bike_orders %}
            {% include 'bikes/admin_user_template.html' %}

        {% endif %}
        {% if shipped %}
            <h3 class="mr-60">Bikes shipped: </h3>
            {% get_status 'shipped' as status %}
            {% customers shipped as bike_orders %}
            {% include 'bikes/admin_user_template.html' %}
        {% endif %}
    </div></div>
{% endblock %}