{% extends "layout.html" %}

{% block title %}{{ order.name }} orders{% endblock %}

{% block submenu %}{% endblock %}

{% block content %}
    <div class="row">
        <p>Total charged:  {{ order.total_charge }}</p>
        <a href="{% url 'bikes:admin_message' pk=order.pk %}" class="button">Message {{ order.name }}</a>
        <h3>These are the bikes {{ order.name }} ordered:</h3>
        <p></p>
    </div>
    <div class="row">
        {%  for preorder in preorders %}
            <div class="small-6 columns">
                <div class="callout">
                    <h5>{{ preorder.order }}</h5>
                    <p>{{ preorder.order.price }}</p>

                    <img src="{{ preorder.order.picture }}">
                    <h4>{{ preorder.status }}</h4>
                    <p>Ship to: {{ preorder.address }} {{ preorder.address.city }} {{ preorder.address.state }} {{ preorder.address.zip }}</p>
                    <h5>Credit card info</h5>
                    <p>Credit card number: {{ preorder.payment.number }}</p>
                    <p>Expires: {{ preorder.payment.expiration }}</p>
                    <p>CCV: {{ preorder.payment.ccv_number }}</p>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}