{% extends "bikes/detail_layout.html" %}

{%  block title %}{{ bike.name }}{% endblock %}

{% block details %}

        {% if bike.orders < bike.orders_needed %}
            <p> Preorders needed to confirm orders: {{ bike.orders_needed }}</p>
            <p> Preorders now:  {{ bike.orders }}</p>
            <p>Preorders left:  {{ more }}</p>
        {% endif %}

        {% if user.is_superuser %}
            <a href="{% url 'bikes:bike_ordered' pk=bike.pk %}" class="button">Veiw all orders!</a>
        {% elif user.is_authenticated %}
            <form method="POST" action= "{% url 'bikes:order_more' types_pk=bike.type.pk bike_pk=bike.pk %}">
                {% csrf_token %}
                <input type="number" name="amount" placeholder="1" value="{{ request.POST.amount }}">
                <input type="submit" class="button" value="Order now!">
            </form>
        {% else %}
            <form method="GET" action= "{% url 'bikes:order' types_pk=bike.type.pk bike_pk=bike.pk %}">
                {% csrf_token %}
                <input type="number" name="amount" value="{{ request.GET.amount }}">
                <input type="submit" class="button" value="Make an account and Order!">
            </form>
        {% endif %}
    </div>
{% endblock %}