{%  extends "layout.html" %}
{% load bikes_extras %}

{%  block title %}{{ bike_type.type }} Bikes{% endblock %}

{%  block content %}
    <div class="row">
        {% for bike_type in bike_types %}
            {% bikes_available bike_type as bike %}
            {% if bike %}
            <div class="col-sm-6">
                <div class="callout">
                    <img src="{{ bike_type.picture.url }}" alt="picture of {{ bike_type }} bike" class="bike_image"/>
                    <h5><a href="{%  url 'bikes:list'  pk=bike_type.pk%}">{{ bike_type.type }}</a></h5>
                </div>
            </div>
            {% endif %}
        {%  endfor %}
    </div>
{%  endblock  %}