{% extends "cart/cart_chart.html" %}

{% block title %}Order {% endblock %}

{% block order_form %}
    <div class="row columns">
        <form action="" method="POST">
            <div class="left">
            <h5>Make sure you look over your order before you press confirm.</h5>
                <h4>Total charge: {{ total_amount }}</h4>
            <p>where to ship</p>
            {{ form.billing }}
            <a href="{% url 'bikes:add_address' %}" class="button">Add another address</a>
            </div>
            <div class="right">
            <p>Credit Card</p>
            {{ form.card }}
            <a href="{% url 'bikes:add_card' %}" class="button">Add another card</a>
            </div>
            {% csrf_token %}
            <div class="submit_seperator">
                <p> Amount: {{ amount.as_p }}{% csrf_token %}</p>
                <input type="submit" class="button" name="Confirm Order">
            </div>
        </form>
    </div>
{% endblock %}