{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <h3 >{{ bike.name }} <small style="color: brown">{{ bike.type }} - {{ bike.price }}</small></h3>

        <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ bike.picture.url }}" alt="picture of {{ bike }} bike" class="bike_image_display"/>
        <p></p>
        <p>{{ bike.description }}</p>
        <div class="form_seperator">
            {% block details %}{% endblock %}
        </div>
    </div>
    {% block orders %}{% endblock %}
{% endblock %}