{% extends "layout.html" %}

{% block title %}Edit Credit card info {%  endblock %}

{% block content %}
    <div class="row columns">
        <h3>edit credit cards</h3>
        <form action="" method="POST">
            {% csrf_token  %}
            <section>
                {% for card in credit_cards %}
                    <p>card {{ num }}</p>
                    {{ card }}
                {% endfor %}
            </section>
            <input type="submit" class="button" value="Save">
        </form>
    </div>
{% endblock %}