{% load bikes_extras %}

{% for preorder in bike_orders %}
    <div class="small-6 columns my-columns">
        <div class="callout">

            <a href="{% url 'bikes:details' types_pk=preorder.type.pk bike_pk=preorder.pk %}">

                {% order_per_bike preorder order status as amount %}
                {% get_total_charge amount preorder as total_price %}
                <h5><strong>{{ amount|length }}</strong> - {{ preorder }}</h5>
                <p>{{ total_price }}</p>
                <img src="{{ preorder.picture.url }}" alt="picture of {{ preorder }} bike" class="bike_image"/>

                {% orders_by_address amount order as addresses %}
                {% orders_by_card amount order as cards %}
                <p>Amount ordered: {{ amount|length }}</p>
                {% for address, num in addresses.items %}
                    <p>{{ status|capfirst }} <strong>{{ num }}</strong> bikes to <strong>{{ address }}</strong></p>
                {% endfor %}
                {% for card, price in cards.items %}
                    <p>We charged <strong>{{ price }}</strong> to {{ card }} card.</p>
                {% endfor %}
                <p>{{ status }}</p>
            </a>
        </div>
    </div>
{% endfor %}
