{%  extends "layout.html" %}

{% block title %}{{ order.order }}{% endblock %}

{% block content %}
    <div class="row column">
        <h3>{{ order.order.name }}</h3>
        <h5>{{ order.order.type }}</h5>
        <img src="{{ order.order.picture }}">
        <p>{{ order.order.price }}</p>
        <p>{{ order.order.description }}</p>
    </div>
    <div class="row columns">
        <h3>Planned to ship at this address:</h3>
        <h5>{{ order.address.address }} {{ order.address.city }} {{ order.address.state }} {{ order.address.zip }}</h5>
        <a href="{% url 'bikes:edit_address' pk=billing.pk%}" class="button">Edit Address</a>
    </div>
    <div class="row columns">
        <h3>We will charge {{ order.payment }}  for the bike!</h3>
        <a href="{% url 'bikes:edit_card' pk=order.pk%}" class="button">Edit Card</a>
    </div>
{% endblock %}