{% extends "layout.html" %}

{%  load bikes_extras %}

{% block title %}{{ user.username }} orders{% endblock %}

{% block submenu %}
    <li class="has-submenu"><a href="{% url 'bikes:change_password' %}">Change Password</a></li>
    <li class="has-submenu"><a href="{% url 'bikes:edit' %}">Change account information</a></li>
    <li class="has-submenu"><a href="{% url 'bikes:type' %}">Bikes</a></li>
{% endblock %}

{% block content %}
    {% if shipping or shipped %}
        <p>Total that you will be charged:  {{ order.total_charge }}</p>
        {% if shipping %}
        <h3>These are the bikes ready to ship:</h3>
    <div class="row">
        {% orders_by_bike shipping as bike_orders %}
        {%  for preorder in bike_orders %}
            <div class="small-6 columns">
                <div class="callout">
                    <a href="{% url 'bikes:shipping' pk=preorder.pk %}">
                    <h5>{{ preorder }}</h5>
                    <p>{{ preorder.price }}</p>
                        <img src="{{ preorder.picture.url }}" alt="picture of {{ preorder }} bike" class="bike_image"/>
                    {% order_per_bike preorder order "shipping" as amount %}
                    <p>Amount ordered: {{ amount }}</p>
                    <p>status: shipping</p>
                </a>
                </div>
            </div>
        {%  endfor %}
    </div>
            {% endif %}
        {% if shipped %}
    <div class="row">
        <h3>These are the bikes being shipped to you now:</h3>
    </div>
    <div class="row">
        {% orders_by_bike shipped as bike_orders %}
        {%  for preorder in bike_orders %}
            <div class="small-6 columns">
                <div class="callout">
                    <a href="{% url 'bikes:shipped' pk=preorder.pk %}">
                    <h5>{{ preorder }}</h5>
                    <p>{{ preorder.price }}</p>
                        <img src="{{ preorder.picture.url }}" alt="picture of {{ preorder }} bike" class="bike_image" />
                    {% order_per_bike preorder order "shipped" as amount %}
                    <p>Amount ordered: {{ amount }}</p>
                    <p>status: shipped</p>
                </a>
                </div>
            </div>
        {%  endfor %}
    </div>
        {% endif %}
    {% else %}
        <h3>No bikes are ready to ship yet! <a href="{% url 'bikes:ready' %}">check out reserved bikes!</a></h3>
    {% endif %}
{% endblock %}