{% extends "layout.html" %}

{% block title %}ADMIN Orders ready to ship {% endblock %}

{% block content %}
    <h3>These items are ready to be shipped! ship them and mark as shipped</h3>
    <div class="row">
    {{ block.super }}
        {%  for preorder in preorders %}
            <div class="small-6 columns">
                <div class="callout">
                    <img src="{{ preorder.order.picture }}">
                    <h5>{{ preorder.order.name }}</h5>
                    <p>{{ preorder.order.type }}</p>
                    <p>{{ preorder.order.price }}</p>
                    <h5>{{ preorder.user_info.name }}</h5>
                    <ul>
                        <li>Email: {{ preorder.user_info.email }}</li>
                        <li>Phone: {{ preorder.user_info.phone }}</li>
                        <li>Billing Address: {{ preorder.address.address }} {{ preorder.address.city }} {{ preorder.address.state }} {{ preorder.address.zip }}</li>
                        <li>Credit Card Number: {{ preorder.payment.number }}</li>
                        <li>    Expiration: {{ preorder.payment.expiration }}</li>
                        <li>    CCV number: {{ preorder.payment.ccv_number }}</li>
                        <li><a href="{% url 'bikes:users_orders' pk=preorder.user_info.pk %}">See Costomer account</a></li>
                    </ul>
                    <a href="{% url 'bikes:shipped' pk=preorder.pk %}" class="button">Mark as Shipped!</a>
                </div>
            </div>
        {%  endfor %}
    {% if shipped %}
    <h3>These items are marked as shipped</h3>
    {%  for preorder in shipped %}
        <div class="small-6 columns">
            <div class="callout">
                <h5>{{ preorder.order }}</h5>
                <img src="{ preorder.order.picture }}">
                <p>{{ preorder.user_info.name }}</p>
                <p>{{ preorder.address.address}} {{ preorder.address.city }} {{ preorder.address.state }} {{ preorder.address.zip }}</p>
                <a href="{% url 'bikes:recieved' pk=preorder.pk %}" class="button">Mark as Recieved!</a>
            </div>
        </div>
    {%  endfor %}
    {% endif %}
    </div>
{% endblock %}