{% extends "cart/cart_chart.html" %}

{% block title %}Make Your first order!{% endblock %}

{% block order_form %}

    <div class="row">
        <div class="col-lg-8 col-sm-10 col-sm-offset-1">

        <h3>Fill out this form to complete order!</h3>
        <form action="" method="POST">
            <h4>Name:  {{ user.name }}</h4>
            {{ password.as_p }}
            {% csrf_token %}
            <h4>Billing Address</h4>
            {{ billing.as_p }}
            {% csrf_token %}
            <h4>Credit Card Info</h4>
            {{ card.as_p }}
            {% csrf_token %}
            <input type="submit" class="button" value="Make Order">
        </form>
    </div>
    </div>
{%  endblock %}