{%  extends "bikes/detail_layout.html" %}

{% load bikes_extras %}

{% block title %}{{ bike}} orders{% endblock %}

<style>
{% block javascript %}

{% endblock %}
</style>

{% block orders %}
    {% orders_by_address orders users as addresses %}
    {% orders_by_card orders users as cards %}
    <div class="row">
    {% for address, amount in addresses.items %}
        <p>Planning to ship {{ amount }} to {{ address }}</p>
    {% endfor %}

    <div class="col-lg-8 col-sm-10 col-sm-offset-1">
    <div class="callout">
    <div class="">
    <div class="old-data">
    {% for address, amount in addresses.items %}
            <h3>{{ amount }} {{ bike }}'s are being shipped to {{ address }}. </h3>
                <div class="x block">
                <div class="bill-form flex">
                <button class="btn btn-primary dropdownform-button">Edit Address</button>

                <div class="row columns  dropdownform">
                    {% get_bill_form address as bill_form %}
                    <form action="{% url 'bikes:edit_address' %}" method="POST"
                          class="edit-address-form inserted-form m-0">
                        {{ bill_form.management_form }}
                        {{ bill_form.address }}
                        {{ bill_form.city }}
                        {{ bill_form.state }}
                        {{ bill_form.zip }}
                        <input type="hidden" name="pk" class="hidden-pk" value="{{ address.pk }}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success mb-5"
                               value="edit address and all order's with this address.">
                    </form>
                </div></div></div>
    {% endfor %}

    <!-- change addresses form -->
    <div class="change-bill mt-10 flex">
    <button class="btn btn-success dropdownform-button">Change Addresses</button>
    <form name="change-bill-form change-form" action="{% url 'bikes:change_address' %}" method="post"
          class="dropdownform change-bill-form inserted-form m-0">
        <div class="all-addresses-form" style="text-decoration: none;">
        <input type="hidden" name="orders" value="{% for address in orders %}{{ address.pk }} {% endfor %}">
        {% for address in orders %}
            <select name="billing{{ address.pk }}" class="billing select" id="billing-for-{{ address.pk }}">
                <option value="" selected="selected">-------</option>
                {% for bill in bills %}
                    <option value="{{ bill.pk }}">{{ bill }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        {% csrf_token %}
        </div>
        <input type="submit" class="btn btn-info mb-10">
    </form>
    </div>

    <!-- Card charged -->
    {% for card, price in cards.items %}
        <h3>We will charge {{ card }} {{ price }}!</h3>
    {% endfor %}
    <div class="change-card flex">

    <!-- Change cards form -->
    <button class="btn btn-success dropdownform-button">Change Cards</button>
    <form name="change-card-form" action="{% url 'bikes:change_card' %}" method="post"
          class="dropdownform inserted-form m-0 change-form">
        <div class="all-card-form" style="text-decoration: none;">
        <input type="hidden" name="orders" value="{% for card in orders %}{{ card.pk }} {% endfor %}">
        {% for order in orders %}
            <select name="card{{ order.pk }}" class="card select" id="card-for-{{ order.pk }}">
                <option value="" selected="selected">-------</option>
                {% for card in credit_cards %}
                    <option value="{{ card.pk }}">{{ card }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        {% csrf_token %}
        </div>
        <input type="submit" class="btn btn-info mb-10">
    </form>
    </div></div>

    <!-- cancel form -->
    <h4 class="reload-page" style="display: none;">Reload the page to see changes </h4>
    <button class="btn btn-danger dropdownform-button mt-10 block">Cancel/Change Order</button>
        <table class="dropdownform no-overflow">
        <tr>
            <th>Product</th>
            <th>Address</th>
            <th>Card</th>
            <th>Remove</th>
        </tr>
        {% for item in orders %}
        <tr id="item-row-{{ item.pk }}">
            <td class="td-{{ item.pk }}"><a href="">{{ item.order }}</a></td>
            <td class="td-{{ item.pk }}">{{ item.address }}</td>
            <td class="td-{{ item.pk }}">{{ item.payment }}</td>
            <td class="td-{{ item.pk }}"><form method="post" action="{% url 'bikes:cancel' %}" class="cancel-order">
                <input type="hidden" class="pk" name="pk" value="{{ item.pk }}">
                {% csrf_token %}
                <input type="submit" class="button remove-item" value="X">
            </form></td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="{% url 'bikes:cancel_all' %}" class="cancel-all-orders dropdownform">
        <input type="hidden" class="pk" name="pk" value="{{ bike.pk }}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger cancel-all-orders-button" value="Cancel all orders">
    </form>

    </div>
    </div>
    </div>
    </div>

{% endblock %}