{% extends "layout.html" %}

{% load bikes_extras %}

{% block title %}{{ user.username }} orders{% endblock %}

{% block content %}
    <div class="row">
        <p>Total that you will be charged:  {{ order.total_charge }}</p>
        {% if preorders %}
            <h3>These are the bikes {{ user.username }} ordered:</h3>
        {% else %}
            <h3>No bikes are reserved now! <a href="{% url 'bikes:ready' %}">check your shipped or ready to ship bikes!</a></h3>
        {% endif %}
    </div>
    <div class="row">
        {% orders_by_bike preorders as bike_orders %}
        {%  for preorder in bike_orders %}
            <div class="small-6 columns">
                <div class="callout">
                    <a href="{% url 'bikes:order_detail' pk=preorder.pk %}">
                        <h5>{{ preorder }}</h5>
                        <p>{{ preorder.price }}</p>
                        <img src="{{ preorder.picture.url }}" alt="picture of {{ preorder }} bike" class="bike_image" />
                        {% order_per_bike preorder order "reserved" as amount %}
                        <p>Amount ordered: {{ amount }}</p>
                    </a>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}