{% extends "layout.html" %}

{% block title %}{{ user.username }} orders{% endblock %}

{% block submenu %}
    <li class="has-submenu"><a href="{% url 'bikes:logout' %}">Change Password</a></li>
    <li class="has-submenu"><a href="{% url 'bikes:logout' %}">Change account information</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <p>Total charged:  {{ order.total_charge }}</p>
        <h3>These are the bikes {{ user.username }} ordered:</h3>
        <p></p>
    </div>
    <div class="row">
        {%  for order in preorders %}
            <div class="small-6 columns">
                <div class="callout">
                    <a href="{% url 'bikes:order_detail' pk=order.pk %}">
                    <h5>{{ order.order }}</h5>
                    <p>{{ order.order.price }}</p>
                    <img src="{ order.order.picture }}">
                    <p><a href="{% url 'bikes:edit' pk=order.pk %}">Edit order</a></p>
                    <p><a href="{% url 'bikes:order_detail' pk=order.pk %}">View order</a></p>
                </a>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}