.top-bar {
    margin-bottom: 1rem;
}

.bike_image {
    width: 150px;
    height:150px;
}

.bike_image_display {
    width: 400px;
    height: 400px;
}

.message_page {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: dashed forestgreen;
}

.form_seperator {
    padding-top: 30px;
    border-top: dashed forestgreen;
}

.submit_seperator {
    border-top: solid 1px #791b0c;
    padding-top: 20px;
}

.fa-navbar-cart {
    font-size: 24px;
    vertical-align: middle;
}