{% extends "bikes/detail_layout.html" %}

{% block title %}Order an {{ bike.name }}!{% endblock %}

{% block details %}

    <div class="row columns">
        <h1>Amount {{ amount }}</h1>
        <h3>Already have an account: <a href="{% url 'login' %}">Login and order another</a></h3>
        <h3>Fill this out to register as a user</h3>
        <form action="" method="POST">
            <h4>Personal Info</h4>
            {{ form.as_p }}
            {% csrf_token %}
            {{ password.as_p }}
            <input type="submit" class="button">
        </form>
    </div>
{%  endblock %}