{%  extends "layout.html" %}

{%  block title %} Electric Bikes shop {%  endblock %}

{% block submenu %}
    <li class="has-submenu"><a href="{% url 'bikes:type' %}">Bikes</a></li>
{% endblock %}

{%  block content %}
    <div class="row">
        <h3>Welcome to the bike shop.Reserve the bike of your choice now!</h3>
    </div>
    <div class="row">
            {% if messages %}
                <h3>Here are your messages</h3>
            {% elif user.is_authenticated %}
                <h3>Your message box is empty</h3>
            {% endif %}
            {% for message in messages %}
                <div class="small-6 columns">
                    <div class="callout">
                        {% if user.is_superuser %}
                            <h3>{{ message.user.name }}</h3>
                        {% endif %}
                        <p>{{ message.message }}</p>
                        <a href="{% url 'delete' pk=message.pk %}" class="button"><p>X</p></a>
                    </div>
                </div>
            {%  endfor %}
    </div>
{%  endblock %}