{%  extends "layout.html" %}
{% load bikes_extras %}

{%  block title %} Electric Bikes shop {%  endblock %}

{%  block content %}
    <div class="row">
        <h3>Welcome to the bike shop.Reserve the bike of your choice now!</h3>
    </div>
    <div class="row">
            {% if messages %}
                <h3>Here are your messages</h3>
            {% elif user.is_authenticated %}
                <h3>Your message box is empty</h3>
            {% endif %}
            {% for message in messages %}
                <div class="small-6 columns">
                    <div class="callout">
                        {% if user.is_superuser %}
                            {% order_link message.user.name as order %}
                            {% if order.name != "Anonymous" %}
                                <h3><a href="{% url 'bikes:users_orders' pk=order.pk %}">{{ order.name }}</a></h3>
                                 <a href="{% url 'bikes:admin_message' pk=order.pk %}" ><p>Message Back!</p></a>
                            {% else %}
                                <h3>{{ order.name }}</h3>
                            {% endif %}
                            <p>{{ message.message }}</p>

                            <a href="{% url 'delete' pk=message.pk %}" class="button"><p>X</p></a>
                        {% else %}
                            <p>{{ message.message }}</p>
                            <a href="{% url 'delete' pk=message.pk %}" class="button"><p>X</p></a>
                        {% endif %}
                    </div>
                </div>
            {%  endfor %}
    </div>
{%  endblock %}