{%  extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <h3>Login to be able to look and change your orders</h3>
        <p>You make an account by preordering a bike</p>
        <div class="col-sm-8">
            <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="button">
        </form></div></div>
    </div>
{% endblock %}