body {
    background-color: #f5fff6;
    height: 100%;
}

hr {
    margin-bottom: 0 ;
}

li {
    margin-left: 10px;
}

input[type=text] {
    max-width: 600px;
}

label {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

/*the three main div of page*/

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {

}

#content {
    padding-bottom: 75px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* all classes */
.addresses {
    background-color: #d0e3ef
}

.address-title {
    border-bottom: solid blue 1px;
}

.admin-title-border {
    border-bottom: solid brown 1px;
}


.admin-li-address {
    margin: 20px;
    border-bottom: dashed brown 1px;
}

.add-amount {
    float: right;
    width: 70%;
}

.amount {
    margin-right: 30%;
    display: inline;
    width: 30%;
}

.bike-box {
    background-color: #e4efdf
}

.bike_image {
    width: 150px;
    height:150px;
}

.bike_image_display {
    margin-left: auto;
    margin-right: auto;
}

.bike_image_display {
    width: 400px;
    height: 400px;
}

.block {
    display: block;
}

.bottom-card-info {
    border-bottom: dashed brown 1px;
    margin-bottom: 20px;
}

.box {
    border: solid lightgrey 1px;
    margin-bottom: 20px;
    margin-left: 10%;
    padding: 20px;
}

.brown-purple-background {
    background-color: #dbd2c3;
}

.button {
    display: block;
}

.cart-table {
    width: 100%;
    border: 2px outset lightcyan;
}

.callout {
    background-color: #fffee8;

}

.change-form {
    background-color: #daffd6;
    min-width: 80%;
    max-width: 90%;
}

.delete-message {
    padding: 10px;
}

.dropdownform {
    display: none;
}

.fa-navbar-cart {
    font-size: 24px;
    vertical-align: middle;
}

.form_seperator {
    padding-top: 30px;
    border-top: dashed forestgreen;
}

.flex {
    display: inline-flex;
}

.inline {
    display: inline;
}

.inserted-form {
    border: 1px inset;
    margin-left: 10%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eaf2ee;
}

.logo {
    text-decoration: none;
    padding: 0;
    color: lightcoral;
}

.logo-footer {
    background-color: #eeeeee;
    padding: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.m-0 {
    margin: 0;
}

.m-15 {
    margin: 15px;
}

.m-20-mb-0 {
    margin: 20px;
    margin-left: 0;
}

.m-20-mb-5 {
    margin: 20px;
    margin-bottom: 5px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-60 {
    margin-right: 60%;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mark-shipped-form {
    border-bottom: dashed blue 1px;
    padding-bottom: 10px;
}

.message_page {
    padding: 10px;
/*    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;*/
    border-top: dashed forestgreen;
}

.no-overflow {
    max-width: 100%;
}

.reload-page {
    font-family: cursive;
    border: black solid 1px;
    padding: 5px;
    padding-top: 0;
}

.row {
    margin-left: 10%;
    margin-right: 10%
}

.select {
    max-width: 300px;
}

.shopping-cart-chart {
    background-color: #fafffa;
    padding-top: 20px;
    border:1px outset rgba(206, 206, 227, 0.45);
}

.submit_seperator {
    border-top: solid 1px #791b0c;
    padding-top: 20px;
}

.top-bar {
    margin-bottom: 1rem;
    padding: 0;
    border-bottom: lightgrey solid 1px;
}

/* id's */
#id_address {
    max-width: 90%;
}

#id_ccv_number {
    display: inline-flex;
    max-width: 25%;
}

#id_city {
    display: inline-flex;
    max-width: 40%;
    margin-right: 5%;
}

#id_expiration_month {
    display: inline-flex;
    max-width: 40%;
}

#id_expiration_year {
    display: inline-flex;
    max-width: 30%;
}

#id_state {
    display: inline-flex;
    max-width: 40%;
    margin-right: 5%;
}

#id_zip {
    display: inline;
    max-width: 20%;
}

#mock-address {
    max-width: 70%;
}

#mock-card {
    max-width: 70%;
}

/* css for diffrent screen sizes */
@media screen and (max-width: 600px) {
    .my-columns {
        min-width: 100%;
    }
}
